.catProductImg {
    width: 100%;
    height: 100%;
}

.categoriya_label {
    position: absolute;
    bottom: 8px;
    left: 12px;
    width: calc(100% - 24px);
    padding-top: 20px;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #fff 100%);
    box-sizing: border-box;
}

.categoriya_conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 8px 12px;
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 8px;
    width: 272px;
    height: 272px;
    margin: 0 16px 16px 0;
    margin-right: 16px;
}

.product {

}