.wrapper_of_categ {
    display: flex;
    padding: 20px;
    margin-bottom: -50px;
}

.push {
    height: 50px;
  }

  .btn {
    margin: 50px auto;
  }

.content {
	padding-bottom: 90px;
}

.footer {
  display: block;
  height: 347px;
}