.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}
