.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}
.column {
    margin-top: 64px;
}
.login{
    width: 100%;
    display: block;
    margin-top: 16px;
}
.icon {
    width: 100%;
    margin-left: 50%;
    margin-right: 50%;
}
.btn {
    width: 100%;
    display: block;
    margin-left: 8px;
}