.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.column {
    margin-top: 64px;
}

.login{
    width: 100%;
    display: block;
    margin-top: 16px;
}

.password {
    display: block;
    margin-top: 16px;
    width: 100%;
}

.btn {
    width: 100%;
    display: block;
    margin-top: 8px;
    margin-left: 8px;
}

.icon {
    width: 100%;
    margin-left: 50%;
    margin-right: 50%;
}

.formControl {
    margin-left: 8px;
}

