.main_nav {
    display: flex;
}

ul {
    display: flex; 
}

li {
    margin: 0px 13px;
    list-style-type: none;
    font-size: 50px;
    color: aliceblue;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.basket {
    position: relative;
    float: right;
    left: 100px;
    top: 10px;
    cursor: pointer;
}