.wrapper_of_categ {
    display: flex;
    padding: 20px;
    margin-bottom: -50px;
}

.push {
    height: 50px;
  }

.btn {
      width: 500px;
  }

.footer {
    display: block;
    height: 347px;
}
  