.wrapper_of_categ {
    display: flex;
    padding: 20px;
    margin-bottom: -50px;
}

.btn {
    font-size: 15px;
    height: 100%;
    letter-spacing: 0px;
    margin: 0px;
    color: aqua;

}

.productImg {
    width: 100%;
    height: 100%;
}

.product_label {
    bottom: 8px;
    left: 12px;
    width: calc(100% - 24px);
    padding-top: 20px;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #fff 100%);
    box-sizing: border-box;
}

.product_conteiner {
    border-radius: 12px;
    padding: 8px 12px;
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 8px;
    margin: 0 16px 16px 0;
    margin-right: 16px;
    display: inline-block;
}

.productPagePrice {
    font-size: 30px;
}

p {
    margin: 0px;
}

.btn_container {
    display: flex;
}

.footer {
    display: block;
    height: 244px;
}