.main_border {
    padding-top: 50px;
    height: 130px;
}

.btn {
    margin: 0px auto;
    display: block;
    width: 400px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: block;
    height: 585px;
}
